{% extends 'base.html.twig' %}

{% block title %}Beary beast blog{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Welcome to my traumasharing blog!</h1>
    <p class="text">And this page is under construction, so kindly, fuck off</p>
        <img src="{{asset('images/Tiefling_middle_finger.png')}}" alt="Tiefling Middle Finger" id="tiefling">
</div>
{% endblock %}
