<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td>
                <h1 style-'font-family: var(--main-font)'>Question from {{ question.name }}</h1>
                <p>{{ question.value }}</p>
            </td>
        </tr>
    </table>
</body>
</html>