{% extends 'base.html.twig' %}

{% block title %}Where else you can find me?{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>List of pages where you can find me:</h1>
    <p class="text">And this page is under construction, so kindly, fuck off</p>
        <img src="{{asset('images/Tiefling_middle_finger.png')}}" alt="Tiefling Middle Finger" id="tiefling">
</div>
{% endblock %}
