{% block footer %}
<p> Bear with me </p>
<form  method="get" action="#">
    <fieldset>
    <legend>Oi wanker! Rate me!</legend>
        <label for="ratings">Top tier shit!</label>
            <input type="radio" id="top" name="top" value="toptier" >
        <label for="ratings">I love it!</label>
            <input type="radio" id="love" name="love" value="love">
        <label for="ratings">Absolutely love it!</label>
            <input type="radio" id="absolute name="absolute" value="absolute">
        <input type="submit" value="Bear with">
    </fieldset> 
</form>
</div>
{% endblock footer %}