<form action="#" method="post">
    <div>
        <label for=„fname“>First Name:</label>
        <input type=„text“ id=„fname“ name=„firstname“ placeholder="John" required>
    </div>
    <br>

    <div>
    <label for=„lname“>Last Name:</label>
    <input type="text" id="lname“ name=„lastname“ placeholder="Smith" required>
    </div>

    <br>

    <div>
        <label for="e-mail">Your E-Mail</label>
        <input type="email" id="e-mail" name="e-mail" placeholder="john.smith@gmail.com" required>
    </div>

    <br>

    <div>
        <label for="sex">Sex:</label>
        
        <label for="male">Male</label>
        <input type="radio" id="male"name="sex" required>
        <label for="female">Female</label>
        <input type="radio" id="female" name="sex" required>
    </div>

    <br>

    <div>
        <label for="issue">Issue Type:</label>
        <select id="issue" name="issue">
            <option value="complaint">Complaint</option>
            <option value="question">Question</option>
            <option value="tip">Tip</option>
        </select>
    </div>
    <br>
    <div>
        <label for="confirmation">Please confirm all the information provided is correct</label>
        <input type="checkbox" id="confirmation" name="confirmation" required>
    </div>
    <br>
    <div>
        <input type="reset">
    </div>
    <br>

    <div>
        <input type="submit">
    </div>
   
</form>