<div id="navbar"></div>
<script>
    fetch('navbar.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar').innerHTML = data;
        });
</script>
<script src="navigation.js"></script>