<nav class="navigation">
    <div class="logo"><a href="/"><img src="{{ asset('img/wuc-logo.png') }}" alt="Week under control logo"></a></div>
    <div class="sign_tab"><a href="{{ path('app_login') }}"><img src="{{ asset('img/account.svg') }}" alt="Account icon"></a></div>
</nav>