<nav>
    <ul class="menu">
      <li class="dropdown">
        <a href="mick_jagger.html">Mick Jagger</a>
        <div class="dropdown-content">
          <a href="#">Life</a>
          <a href="#">Solo Career</a>
          <a href="Mick/mick-jagger-merch.html">Merchandise</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="keith_richards.html">Keith Richards</a>
        <div class="dropdown-content">
          <a href="#">Life</a>
          <a href="#">Solo Career</a>
          <a href="#">Merchandise</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="ron_wood.html">Ron Wood</a>
        <div class="dropdown-content">
          <a href="#">Life</a>
          <a href="#">Solo Career</a>
          <a href="#">Merchandise</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="charlie_watts.html">Charlie Watts</a>
        <div class="dropdown-content">
          <a href="#">Life</a>
          <a href="#">Solo Career</a>
          <a href="#">Merchandise</a>
        </div>
      </li>
      <li><a href="#">Former Members</a></li>
    </ul>
  </nav>
