{% extends 'base.html.twig' %}

{% block title %}WUC - Create new task{% endblock %}

{% block main_content %}
    <h1>Create new task</h1>
    <div class="content">
        {{form(form)}}
    </div>
{% endblock %}
