{% extends 'base.html.twig' %}

{% block title %}Hello UsController!{% endblock %}

{% block main%}
 
    <article>   
        <p>Všchno to začalo v Újezdě nad Lesy, kde vyrůstali všichni 3 původní zakladatelé Unlimited. 
           <p> Crippin toward better future.
           Nera jsem vídal už na základce a dokonce jsme spolu chodili do školky, to si ale nepamatuju. Jako malej jsem ho vnímal jako Gho z Hoodu a myslel jsem si že je to největší frajer na světě. Jednou jsem sám spontáně narazil na C-walk a pár dní na to jsem viděl, že ho Nero děla a vzápětí se mi ozval jestli ho nechci dělat taky. Tím to všechno začalo a my jsme začali véčkovat k novym obzorům.</p>
           <p>Malyho Wallace jsem potkal už v jeho 9 letech, kdy se poflakoval po hoodu a všem říkal, že pdopruje Cypress Hill a má rád Negry s Názorem. Obrátky to ale začalo nabírat v roce 2022, kdy jsme se všichni tři dali dohromady a spontáně vzniklo Unlimited, protože nás přirozeně spojjí naše zájmy a vize</p>
            <p>V současné chvíli se larva mění v motýla a českej rybníček se má na co těšit, protože tyhle ryby svojí přirozeností čistí i nejšinavější řeky.</p>
        </p>
    <img src="{{asset('images/unlimitedtext.jpg')}}" alt="unltext" class="unltext">
    <img src="{{asset('images/chill.jpg')}}" alt="chill" class="chill">
    <img src="{{asset('images/fire.jpg')}}" alt="fire" class="fire">
    <img src="{{asset('images/Nero.jpg')}}" alt="nero" class="nero">
        </article>
      
{% endblock %}
