{% extends 'base.html.twig' %}

{% block title %}Palacinky{% endblock %}

{% block body %}

<main>
    </article>
    <h3>
        Palačinky
    </h3>

<div class="imgmain">
  <img src="https://www.toprecepty.cz/fotky/recepty/0118/palacinky-s-dzemem-192251-677-508-nw.jpg" alt="Palačinky">
</div>
                        
                    </article>
                    <section>   
                        <h4>
                            <strong>Suroviny</strong> <br>
                        </h4>
                        <table>
                            <thread>
                                <tr>
                                    <th>
                                        <b>Surovina</b>
                                    </th>
                                    <th>
                                        <b>Množství</b>
                                    </th>
                                </thread>
                                <tbody>
                                    <tr>
                                        <td>Vejce</td>
                                        <td>2ks</td>
                                    </tr>
                                    <tr>
                                        <td>Hladká mouka</td>
                                        <td>400g</td>
                                    </tr> 
                                    <tr>
                                        <td>Vanilkový cukr</td>
                                        <td>20g</td>
                                    </tr>
                                    <tr>
                                        <td>Mléko</td>
                                        <td>1L</td>
                                    </tr>
                                    <tr>
                                        <td>Slunečnicový olej</td>
                                        <td>200ml</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Marmeláda</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <h5>
                                <strong>Postup</strong>
                            </h5>
                            <ol>
                                <li>
                                    Nejdřív v míse smíchejte všechy ingredience na těsto. Pokud budete míchat ručně, 
                                    doporučujeme smíchat nejdřív suché a tekuté ingredience zvlášť. Jinak použijte klidně robot s metličkami nebo mixér. 
                                    Jde o hlavně o vytvoření co nejhladšího těsta.
                                </li>
                                <li>
                                    Na středně rozpálenou pánev pak nalijte trošku oleje a rozetřete ho mašlovačkou.
                                </li>
                                <li>
                                    Těsto nalijte na pánev a krouživými pohyby ho rovnoměrně rozprostřete. 
                                    Dávkování těsta samozřejmě musíte přizpůsobit velikosti pánve a naběračky. Snažte se vždycky dělat palačinky co nejtenčí.
                                </li>
                                <li>
                                    Trvá asi jednu až dvě palačinky, než se pánev rozpálí na ideální teplotu. 
                                    Pak už to jde samo a olej na pánev už není potřeba. Pokud teda používáte nepřilnavou pánev. <br>
                                    Každopádně první palačinka se nikdy nepovede, takže se na začátku určitě netrapte, kdyby se něco nedařilo.
                                </li>
                                <li>
                                    Palačinky jsou hotové dost rychle, takže doporučujeme neodcházet a pořád na ně koukat. 
                                    Většinou stačí tak půl minuta z každé strany, ale záleží na tloušťce těsta samozřejmě. 
                                    Sledujte hlavně barvu palačinek, ať se nepřipálí.
                                </li>
                                <li>
                                    Hotové palačinky servírujte podle chuti s domácí marmeládou nebo dalšími ingrediencemi.
                                </li>
                                <li>
                                    Pokud se rozhodnete pro omáčku z mraženého nebo čerstvého ovoce, stačí ho dát do kastrůlku, lehce podlít vodou a přidat cukr podle chuti. 
                                    Pak nechte provařit, dokud se ovoce nerozvaří na omáčku a do požadované konzistence. <br>
                                    Vyzkoušet můžete například domácí omáčku z malin a ostružin.
                                </li>
                            </ol>
                        </section>   
                    </main>
                    </form>

{% endblock %}
