   .grid-item:hover {
        transform: rotate(5deg) scale(1.1);
    }
  
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px auto;
        padding: 10px;
        width: 55%;
    }
    
    .grid-item {
        flex-basis: 30%;
        box-sizing: border-box;
        padding: 8px;
        transition: transform .2s;
    }
    
    .grid-item img {
        border: 5px;
        border-style: solid;
        border-color: var(--color3);
        border-radius: 2%;
        max-width: 300px;
        margin: 0;
        padding: 0;
        object-fit: fill;
        cursor: pointer;
    }

    h3
    {
    margin:0;
    margin-left:0;
    color:var(--color1);
    font-size:50px;
    text-align:center;
} 