:root {
    --primary-color: #273f5f;
    --secondary-color: #6e7997;
    --bgcolor: #6e7997;
    --main-bgcolor: ;
    --font-color: #e8e8e8;
}
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bgcolor);
    color: var(--font-color);
}

img {
    max-width: 100%;
}

#logo {
    width: 100%;
    max-height: 80px;
    align-self: center;
    flex: 0 1 33.333333%;
}

header {
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 20px 0 20px;
}

.sign_tab {
    color: var(--font-color);
    list-style: none;
    align-self: center;
    flex: 0 1 33.333333%;
}

#search {
    align-self: center;
    flex: 0 1 33.333333%;
}

#web_purpouse {
    display: flex;
    width: 50%;
    padding: 5px 15px 5px 15px;
}

#registration_form {
    display: flex;
    width: 50%;
    padding: 5px 15px 5px 15px;
}

.icon {
    width: 2em;
    height: 2em;
}

h1, h2 {
    color: var(--primary-color);
}