{# templates/location/add.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Přidat lokaci</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Uložit</button>
    {{ form_end(form) }}
{% endblock %}