{% extends 'base.html.twig' %}

{% block title %}Administrace - Přidat lokaci{% endblock %}

{% block body %}
    <h1>Administrace - Přidat novou lokaci</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form (form) }}

{% endblock %}
