{% extends 'base.html.twig' %}

{% block title %}Beats!{% endblock %}


{% block main %}

<audio src="{{asset('Wallace-trappy2.mp3')}}"controls/></audio>

<p id="demo">SVCKIN</p>
<button type="button" onclick='document.getElementById("demo").innerHTML = "YOMAMA"'>SVCKDVCK</button>
 



{% endblock %}



