{% extends 'base.html.twig' %}

{% import 'macros/team_macros.html.twig' as teamMacros %}

{% block title %}Create Team{% endblock %}

{% block content %}
    <h1>Create Team</h1>

    {{ form(form) }}
{% endblock %}
