{% extends 'base.html.twig' %}

{% import 'macros/team_macros.html.twig' as teamMacros %}

{% block title %}Edit Team {{team.name}}{% endblock %}

{% block content %}
    <h1>Edit Team {{team.name}}</h1>

    {{ form(form) }}
    {#{ dump(errors) }#}
{% endblock %}
