.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #DC1313;
}

p {
  color: #DC1313;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #040303;
  color: #DC1313;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.2s;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.btn:hover {
  background: #FEFEFE;
}

.header {
  background: radial-gradient(#D94747, #2766C6);
}

img {
  max-width: 100%;
  height: 25vh;
  width: auto;
  display: block;
  position: relative;
  border-radius: 10px;
}

img:nth-child(1) {
  top: 40%;
  left: 5%;
  transform: rotate(45deg);
}

img:nth-child(2) {
  top: 65%;
  left: 25%;
  transform: rotate(20deg);
}

img:nth-child(3) {
  top: 80%;
  left: 25%;
}

img:nth-child(4) {
  top: 65%;
  right: 25%;
  transform: rotate(-20deg);
}

img:nth-child(5) {
  top: 40%;
  right: 5%;
  transform: rotate(-45deg);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.mick5{
  max-width: 100%;
  height: 25vh;
  width: auto;
  display: block;
  position: relative;
  border-radius: 10px;
}
.mick6{
  max-width: 100%;
  height: 25vh;
  width: auto;
  display: block;
  position: relative;
  border-radius: 10px;
}