{% extends 'base.html.twig' %}

{% import 'macros/task_macros.html.twig' as taskMacros %}

{#% block title %}Hello HomeController!{% endblock %#}

{% block main_content %}
<h1>Personal</h1>

<div class="content">
{{ taskMacros.taskListingCurrent(tasksCurrent) }}
{{ taskMacros.taskListingNext(tasksNext) }}
</div>
{% endblock %}
