{% extends 'base.html.twig' %}

{% block title %}Contact me{% endblock %}

{% block main %}

<div class="Contact-page">

<h1>Contact me</h1>
<p>Feel free to contact me on the following socials!</p>

<div class="socials">
    <a href="https://www.linkedin.com/in/dominik-fabián-9351a829b" target="_blank">
        <img src="{{ asset ('images/linkedin.png') }}" alt="linkedin">
    </a>
    <a href="https://github.com/Dmnk99" target="_blank">
        <img src="{{ asset ('images/github.png') }}" alt="github">
    </a>
    </div>

    <div class="contact-form">
        <h2>Or send me a message thtough this form here!</h2>
        <img src="{{ asset ('images/envelope.png') }}" alt="envelope">
    </div>
        


</div>
{% endblock %}
