<!DOCTYPE html>
<html>
<head>
    <title>Více</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
</head>
<body>
    <div class="page-style">
    <h1>Má práce</h1>
    <p>Zaměřuju se na Web Design, UI/UX Design, PPC.</p>
    </div>
</body>
</html>