{% extends 'base.html.twig' %}

{% block title %}Other fun shit{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>This is page for other fun shit i do</h1>
    <p class="text">And this page is under construction, so kindly, fuck off</p>
        <img src="{{asset('images/Tiefling_middle_finger.png')}}" alt="Tiefling Middle Finger" id="tiefling">
</div>
{% endblock %}
