{% extends 'base.html.twig' %}

{% block title %}This is my traumasharing page{% endblock %}

{% block main %}
    <h1> {{album.title}} </h1>
    {% for track in album.tracks %}
    {{track.title}}
    {% endfor %}
{% endblock %}