{% extends 'base.html.twig' %}

{% block title %}Recepty{% endblock %}

{% block body %}

{% for recept in recepty %}
        <a href="{{ path('app_recept', { nazev: recept.nazev }) }}">{{ recept.nazev }}</a><br>
{% endfor %}

{% endblock %}