{% extends 'base.html.twig' %}

{% block title %}Recepty{% endblock %}

{% block body %}

{% for recept in recepty %}
<a href="{{path('app_recept', {"id":recept.id})}}">{{recept.nazev}}</a><br>
{% endfor %}

{% endblock %}
