<dialog id="searchModal">
  <form method="dialog">
    <h2>Vyhledávání</h2>
    <input type="text" placeholder="What do you searching for?..." />
    <button type="submit">Search</button>
    <button id="closeModal">Close</button>
  </form>
</dialog>