<section id="O_mne">
      <h3>O mně</h3>
      <p>Jsem grafik a fotograf. Během studia
        na vysoké škole jsem se začal zabývat grafikou
        a nyní už je to skoro 7 let co pracuji jako
        grafik a fotograf.
        Zkušenosti mám například s tvorbou bannerů, katalogů,
        letáčků, logodesignem a návrhem potisků
        oblečení. Jako fotograf mám nejvíce zkušeností
        s produktovou fotografií.
        Pracuji v programech od Adobe - Illustrator,
        Photoshop, Indesign a další...
      </p>
</section>