{% extends 'base.html.twig' %}



{% block title %}FabianD{% endblock %}

{% block main %}

 <section class="about-me">
            <div class="inner-about">
                <h2>About me</h2>
                    <article class="me-text">
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos velit id veritatis quos dolores obcaecati repellat delectus, vero fugiat voluptatum voluptas inventore doloremque sit minus ratione similique, tempore suscipit harum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos velit id veritatis quos dolores obcaecati repellat delectus, vero fugiat voluptatum voluptas inventore doloremque sit minus ratione similique, tempore suscipit harum?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos velit id veritatis quos dolores obcaecati repellat delectus, vero fugiat voluptatum voluptas inventore doloremque sit minus ratione similique, tempore suscipit harum?
                        </p>
                    </article>
            </div>
 </section>
 {{ include('home/projects.html.twig') }}


{% endblock %}
