{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
<section>
  <h1>Artists</h1>
  <ul>
    {% for artist in artists %}
      <li><a href={{ path('app_artist', { 'id': artist.id }) }}>{{ artist.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
