{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main%}

<img src="{{ asset('images/b.jpg') }}"style="width:690x=;height:900px;"></a>
<img src="{{ asset('images/ballin.png')   }}"style="width:190x=;height:150px;position:center;"></a>




{% endblock %}
