{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Donec sit amet felis auctor, ultricies nunc in, tincidunt nunc. Nullam nec nunc nec nunc ultricies.</p>
</div>
{% endblock %}
