{% extends 'base.html.twig' %}

{% block title %}UNL!{% endblock %}

{% block main %}
<article>          
           
        </article>
         <img src="{{asset('images/nrsmk.jpg')}}" alt="nrsmk" class="nrsmk">

        <p id="demo">Peace</p>
<button type="button" onclick='document.getElementById("demo").innerHTML = "God"'>Mathematikz</button>
{% endblock %}
