{% extends 'base.html.twig' %}

{% block title %}Hell-o mother-fluffer!{% endblock %}

{% block main %}
    <div style="text-align: center">
        <h2>Hell-o, I'm Gris and web development trainee, so let's code together!</h2>
        <p class="text">The one and only Vitex is the IT guru of mine :3</p>
        <img src="https://www.vitexsoftware.com/img/vitexlovetux.jpg" alt="Vitex Software" style="max-width: 100%; height: 500px;">
        <p class="text">Im disabled hobby artist who wants to make at least a little dent in your world by telling you about living as a disabled person.</p>
        <p class="text">And this page is under construction, so kindly, fuck off</p>
        <img src="{{asset('images/Tiefling_middle_finger.png')}}" alt="Tiefling Middle Finger" id="tiefling">
        <p class="text">...</p>
    </div>
{% endblock %}