<section id="Portfolio">
      <article>
        <h3>Portfolio</h3>
        <div class="menu2">
        {% for portfolioItem in portfolioItems %}
        <a href="#Item-{{ loop.index }}">{{ portfolioItem }}</a>
        {% endfor %}
        </div>
      </article>
    <div class="Portfolio_karta">
      <h3>Packing box</h3>
      <div class="karta">
        <div class="Packing_box">
          <img src="{{ asset('image/snb_box.jpg') }}"
          alt="Packing_box">
        </div>
        <div class="Packing_text">
          <p>
Při tvorbě podkladů na obalový materiál je vždy důležité zohlednit nejen vizuální stránku, ale také funkčnost obalu. Použití vhodných materiálů zajistí bezpečný transport, zatímco design se postará o zaujmutí zákazníka a o předaní potřebných informací. Pro tvorbu této krabičky jsem zvolil pevnější kartoný materiál, který udrží snowboardové brýle v bezpečí i při náročnějším transportu. Byla nachystána, tak aby se do ní věšly všeshny typy brýlí včetně příslušenství. Součástí designu měli být základní informace o vlastnostech brýlí. Tyto informace jsou umístěny na vrchní části obalu v podobě jednoduchých nákresů s popiskami. Pro každou krabičku se chystal individuální nákres obrysu brýlí, který je nejdominantnějším na celé krabičce. Tento obrys, stejně tak i nálepka s barvou brýlí, pomáhá k lepší orientaci skladníků a prodavčů.
          </p>
        </div>
        <div class="karta_obrazku">
          <div class="Packing_box2">
            <img src="{{ asset('image/snb_box_2.jpg') }}"
            alt="Packing_box2">
          </div>
        </div>
      </div>
    </section>