<section id="Sluzby">
      <h3>Služby</h3>
      <div class="container2">
        <div class="Graficky_Design">
          <img src="{{ asset('image/Graficky_design.svg') }}"
          alt="Grafický Design">
          <p>
            <strong>Grafický design</strong>
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          </p>
        </div>
        <div class="Webdesign">
          <img src="{{ asset('image/Webdesign.svg') }}"
          alt="Webdesign">
          <p>
            <strong>Webdesign</strong>
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam natus inventore quia non mollitia rem. Labore, ex! Maxime perspiciatis maiores eius aspernatur incidunt. Consequatur ab perferendis ipsa libero adipisci sapiente?
          </p>
        </div>
        <div class="Produktove_Fotografie">
          <img src="{{ asset('image/Photography.svg') }}"
          alt="Produktová Fotografie">
          <p>
            <strong>Produktová fotografie</strong>
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam natus inventore quia non mollitia rem. Labore, ex! Maxime perspiciatis maiores eius aspernatur incidunt. Consequatur ab perferendis ipsa libero adipisci sapiente?
          </p>
        </div>
      </div>
    </section>