<section id="Sluzby">
      <h3>Služby</h3>
      <div class="flex-container">
        <div class="Graficky_Design">
          <img src="{{ asset('image/Graficky_design.svg') }}"
          alt="Grafický Design">
          <p>
            <strong>Grafický design</strong>
          </p>
          <p>
            Vytvářím atraktivní a efektivní designy napříč různými médii, včetně log, vizitek, katalogů a dalších. Kombinuji kreativitu s technickými dovednostmi, abych přinesl originální a profesionální výsledky, které reflektují identitu vaší značky a oslovují vaši cílovou skupinu. Mým cílem je vždy vytvořit designy, které jsou nejen esteticky příjemné, ale také funkční a účinné v komunikaci klíčových sdělení.
          </p>
        </div>
        <div class="Webdesign">
          <img src="{{ asset('image/Webdesign.svg') }}"
          alt="Webdesign">
          <p>
            <strong>Webdesign</strong>
          </p>
          <p>
            Specializuji se na vytváření moderních, vizuálně přitažlivých a uživatelsky přívětivých webových stránek, které reflektují identitu vaší značky. Při návrhu webů dbám na intuitivní navigaci, responzivní design a optimalizaci pro různá zařízení. Mým cílem je vytvořit weby, které nejen vypadají skvěle, ale také poskytují návštěvníkům plynulý a příjemný zážitek.
          </p>
        </div>
        <div class="Produktove_Fotografie">
          <img src="{{ asset('image/Photography.svg') }}"
          alt="Produktová Fotografie">
          <p>
            <strong>Produktová fotografie</strong>
          </p>
          <p>
            Produktová fotografie je klíčová pro prezentaci vašich výrobků. Snažím se vytvářet produktové fotografie, které zaujmou a inspirují vaše zákazníky. Při práci pečlivě volím osvětlení, kompozici a úpravy, aby každý produkt vynikl a vypadal co nejatraktivněji. Mým cílem je pomoci vám zvýšit prodej a posílit vizuální identitu vaší značky prostřednictvím dokonalých produktových snímků.
          </p>
        </div>
      </div>
    </section>